XML Project 2May2010/Source Code/PicassosInventorySystem/Data/products.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2009 sp1 (http://www.altova.com) by Fernando Zamora (McLane Advanced Technologies) -->
<!--W3C Schema generated by XMLSpy v2009 sp1 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="ProductGraph">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Catalog">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="CatalogItems">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="CatalogItem" maxOccurs="unbounded">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="Description" type="xs:string"/>
													<xs:element name="UnitCost" type="xs:double"/>
													<xs:element name="Comments" type="xs:string"/>
												</xs:sequence>
												<xs:attribute name="VendorId" type="xs:IDREF" use="required"/>
												<xs:attribute name="VendorAssignedProductId" type="xs:string" use="required"/>
												<xs:attribute name="Id" type="xs:ID" use="required"/>
												
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="BoxedItems">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="BoxedItem" maxOccurs="unbounded">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="Description" type="xs:string"/>
													<xs:element name="UnitCost" type="xs:double"/>
													<xs:element name="Comments" type="xs:string"/>
													<xs:element name="BoxCost" type="xs:int"/>
													<xs:element name="UnitsInBox" type="xs:int"/>
												</xs:sequence>
												<xs:attribute name="VendorId" type="xs:IDREF" use="required"/>
												<xs:attribute name="VendorAssignedProductId" type="xs:string" use="required"/>
												<xs:attribute name="Id" type="xs:ID" use="required"/>
												
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="VolumeItems">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="VolumeItem" maxOccurs="unbounded">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="Description" type="xs:string"/>
													<xs:element name="UnitCost" type="xs:double"/>
													<xs:element name="Comments" type="xs:string"/>
													<xs:element name="MinimumVolume" type="xs:int"/>
													<xs:element name="UnitOfMeasure" type="xs:string"/>
													
												</xs:sequence>
												<xs:attribute name="VendorId" type="xs:IDREF" use="required"/>
												<xs:attribute name="VendorAssignedProductId" type="xs:string" use="required"/>
												<xs:attribute name="Id" type="xs:ID" use="required"/>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Inventory">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="InventoryItems">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="InventoryItem" maxOccurs="unbounded">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="QtyOnHand" type="xs:int"/>
													<xs:element name="ReOrderPoint" type="xs:int"/>
													<xs:element name="ReOrderQuantity" type="xs:int"/>
													<xs:element name="Comments" type="xs:string"/>
												</xs:sequence>
												<xs:attribute name="LocationId" type="xs:IDREF" use="required"/>
												<xs:attribute name="Id" type="xs:ID" use="required"/>
												<xs:attribute name="CatalogItemId" type="xs:IDREF" use="required"/>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="Locations">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Location" maxOccurs="unbounded">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="Name" type="xs:string"/>
													<xs:element name="Description" type="xs:string"/>
												</xs:sequence>
												<xs:attribute name="Id" type="xs:ID" use="required"/>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Suppliers">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Vendor" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Name" type="xs:string"/>
										<xs:element name="PointOfContact" type="xs:string"/>
										<xs:element name="PhoneNumber" type="xs:string"/>
										<xs:element name="Comments" type="xs:string"/>
										<xs:element name="Addresses">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="Address">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="Street" type="xs:string"/>
																<xs:element name="City" type="xs:string"/>
																<xs:element name="State" type="xs:string"/>
																<xs:element name="Zip" type="xs:string"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									<xs:attribute name="Id" type="xs:ID" use="required"/>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
